.form-inline {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.form-inline input {
    display: inline;
    max-width: 30%;
    margin: 0 10px 0 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
        max-width: 100% !important;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}