<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <title>Login</title>
</head>

<body>
    <style>
    </style>

    <div align="center">
        <form class="form-inline" th:action="@{/login}" method="post" data-uid="3f062f6e87" data-format="inline"
            data-version="5">
            <input name="fields[first_name]" type="text" placeholder="Your first name" />
            <button type="submit" data-element="submit">Join</button>
        </form>
    </div>
</body>

</html>